<div class="container mb-2">
    <div class="card">
        <div class="card-body row text-black m-0 p-1 align-items-center">

            <!-- BUTTONS (Edit, Delete) -->
            <div class="col-0 d-flex flex-column">
                <button type="button" class="btn btn-link p-0 border-0 mb-3 bg-transparent text-warning"
                    (click)="openEditTaskDialog(task)">
                    <i class="fa-solid fa-pen"></i>
                </button>

                <button type="button" class="btn btn-link p-0 border-0 bg-transparent text-danger"
                    (click)="deleteTask(task)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>

            <!-- TITLE -->
            <div class="col-5 m-0">
                <h2 class="title fw-bold m-0 p-0" [ngClass]="{'text-decoration-line-through': task.completed}">
                    {{task.title}}
                </h2>
            </div>

            <!-- DATE AND SUBJECT -->
            <div class="col-4 text-center p-0">
                <h2 class="mb-2 text-white">
                    <span class="badge" [ngClass]="task.completed ? 'bg-success' : 'bg-danger'">
                        {{ task?.date | date: 'MMMM dd' }}
                    </span>
                </h2>
                <p class="subject m-0 p-0">{{task.subject}}</p>
            </div>

            <!-- CHECKBOX -->
            <div class="check col-2 d-flex align-items-center justify-content-end">
                <input type="checkbox" class="form-check-input"[checked]="task.completed"
                (change)="completeTask(task)">
            </div>

        </div>
    </div>
</div>