.container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 0px 5px;
    width: 25%;
}

::ng-deep .today-highlight {
    background-color: yellow !important;
    color: black !important;
    border-radius: 50% !important;
}

::ng-deep .task-highlight {
    background-color: rgb(242, 49, 49) !important;
    color: white !important;
    border-radius: 50% !important;
}

@media (max-width: 1024px) {
    .container {
        border: 1px solid black;
        border-radius: 20px;
        padding: 0px 5px;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .container {
        border: 1px solid black;
        border-radius: 20px;
        padding: 0px 5px;
        width: 75%;
    }
}

@media (max-width: 480px) {
    .container {
        border: 1px solid black;
        border-radius: 20px;
        padding: 0px 5px;
        width: 100%;
    }
}