<div class="container text-center border p-3 navtitle">
    <h1>
        <a href="/calendar" class="ml-2" style="text-decoration: none; color: #000000;"><i
                class="fas fa-arrow-left"></i></a>
        Completadas<a href="/mytasks" class="ml-2" style="text-decoration: none; color: #000000;"><i
                class="fas fa-arrow-right"></i></a>
    </h1>
</div>

<div class="container text-center p-4 descript">
    <h4>✅Tareas ya realizadas.</h4>
</div>
<app-completedlist></app-completedlist>